# orderlines.csv (ol_)
Every row represents each one of the different products involved in an order.
- id – a unique identifier for each row in this file
- id_order – corresponds to orders.order_id
- product_id – an old identifier for each product, nowadays not in use
- product_quantity – how many units of that product were purchased on that order
- sku – stock keeping unit: a unique identifier for each product
- unit_price – the unitary price (in euros) of each product at the moment of placing that order
- date – timestamp for the processing of that product

    ==============================================================================================

## Importing the data
- ``` glob-glob("file_pat") ``` --> read multi files 
- ``` pd.concat(dfs_list, ignore_index=True)```  --> create 1 df from multi dfs
- ``` pd.read_csv(path)```  --> create 1 df from a csv file

In [16]:
import pandas as pd
import numpy as np

pd.set_option("display.min_rows", 0) 
pd.set_option("display.max_rows", 30) 
pd.__version__

'1.4.4'

In [17]:
url = "https://drive.google.com/file/d/1FYhN_2AzTBFuWcfHaRuKcuCE6CWXsWtG/view?usp=sharing" 
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
ol = pd.read_csv(path)

      ===============================================

## Rename Columns , Set Index
- Rules: 
    - add 2-3 chars prefix to all columns
    - change column name to CamelCase
    - shorten it as max as possible
    - the Unique column shall have ALL_CAP name
 - ``` df.columns```   , ``` df.index``` 
 - ``` df=df.rename(columns={"A": "a", "B": "c"})``` 
 - ``` df.columns = ["a","b":"x"]``` 
     - take care, renaming the columns like that will convert the NAN to some value!!
 - ``` df=df.set_index("col")```  , ``` df=df.reset_index()```

In [18]:
ol.columns

Index(['id', 'id_order', 'product_id', 'product_quantity', 'sku', 'unit_price',
       'date'],
      dtype='object')

In [19]:
ol=ol.rename(columns={"id": "OL_ID"
                        , "id_order": "ol_ORD_ID"
                        , "product_id": "ol_ProdId"
                        , "product_quantity": "ol_ProdQnty"
                        , "sku": "ol_Sku"
                        , "unit_price": "ol_ProdUntPr"
                        , "date": "ol_ProcessDate"})

In [20]:
ol.columns

Index(['OL_ID', 'ol_ORD_ID', 'ol_ProdId', 'ol_ProdQnty', 'ol_Sku',
       'ol_ProdUntPr', 'ol_ProcessDate'],
      dtype='object')

In [21]:
ol.index #hint: no need to change index

RangeIndex(start=0, stop=293983, step=1)

    ==============================================================================================

## Explore the data
- ``` df.shape``` , ``` df.size``` , ``` df.ndim``` 
- ``` df.sample(5)``` , ``` df.info()``` 
- Numerical : ``` df.describe()``` , ``` df.col.nlargest()``` , ``` df.col.nsmallest()``` 
- Category : ``` df.nunique()``` , ``` df.unique() ```

In [22]:
ol.shape

(293983, 7)

In [23]:
ol.sample(10)
## unit_price has numbers like 3.121.59 TODO: fix it to proper float

,OL_ID,ol_ORD_ID,ol_ProdId,ol_ProdQnty,ol_Sku,ol_ProdUntPr,ol_ProcessDate
1535,1122273,300965,0,1,HTE0008,29.99,2017-01-02 20:34:12
62431,1242935,353397,0,1,APP1853,2.658.99,2017-05-07 08:53:10
229188,1545961,485135,0,1,APP0482,33.00,2018-01-08 10:13:03
273577,1617742,513307,0,1,BEL0311,19.99,2018-02-17 12:28:07
237705,1560405,490833,0,1,APP2514,37.00,2018-01-14 23:15:55
21581,1168411,318585,0,1,ADN0042,74.99,2017-02-01 00:36:07
45281,1212844,338888,0,1,LOG0190,24.99,2017-03-24 22:31:47
128246,1373369,408609,0,1,SAT0040,25.49,2017-10-08 23:12:13
27947,1180361,324092,0,1,SEA0106,103.99,2017-02-14 14:19:28
46961,1215987,338465,0,1,APP1581,1.016.99,2017-03-29 08:49:23

In [24]:
ol.info()  
## hint: there are no nulls 
## hint: date  is of type object, has to be datetime - TODO: fix required
## hint: unit_price is of type object, has to be float - TODO: fix required

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   OL_ID           293983 non-null  int64
 1   ol_ORD_ID       293983 non-null  int64
 2   ol_ProdId       293983 non-null  int64
 3   ol_ProdQnty     293983 non-null  int64
 4   ol_Sku          293983 non-null  object
 5   ol_ProdUntPr    293983 non-null  object
 6   ol_ProcessDate  293983 non-null  object
dtypes: int64(4), object(3)
memory usage: 15.7+ MB

In [25]:
ol.describe()
# hint: product_id seems like empty and shall be removed - TODO: Fix required
# hint: product_quantity 3rd quartile = min = 1, max=999! 
    # probably we shall handle orders with different quantities differently - TODO:fix required

              OL_ID      ol_ORD_ID  ol_ProdId    ol_ProdQnty
count  2.939830e+05  293983.000000   293983.0  293983.000000
mean   1.397918e+06  419999.116544        0.0       1.121126
std    1.530096e+05   66344.486479        0.0       3.396569
min    1.119109e+06  241319.000000        0.0       1.000000
25%    1.262542e+06  362258.500000        0.0       1.000000
50%    1.406940e+06  425956.000000        0.0       1.000000
75%    1.531322e+06  478657.000000        0.0       1.000000
max    1.650203e+06  527401.000000        0.0     999.000000

In [26]:
ol.nunique() # hint: id is unique per row 
# hint: product_id is useless, shall be removed - TODO: fix required

OL_ID             293983
ol_ORD_ID         204855
ol_ProdId              1
ol_ProdQnty           67
ol_Sku              7951
ol_ProdUntPr       11329
ol_ProcessDate    251631
dtype: int64

In [27]:
ol.ol_ProdId.unique()
#hint: useless data

array([0], dtype=int64)

In [28]:
ol.ol_ProdUntPr.sort_values(ascending=False).tail(40) 
# There is negative value in ol_ProdUnitPrice,  TODO: Fix Required

225400       0.00
225401       0.00
276547       0.00
276548       0.00
67456        0.00
199139       0.00
280903       0.00
67563        0.00
280907       0.00
67854        0.00
265161       0.00
256505       0.00
280906       0.00
246443       0.00
256504       0.00
           ...
67585        0.00
67626        0.00
212228       0.00
280904       0.00
67644        0.00
67661        0.00
67682        0.00
67701        0.00
212227       0.00
67717        0.00
265154       0.00
67746        0.00
265156       0.00
261851       0.00
77008     -119.00
Name: ol_ProdUntPr, Length: 40, dtype: object

In [29]:
ol.loc[(ol.ol_ProdUntPr == "0.00")].ol_ProdQnty.sum()
#That amount of product with price 0.00! TODO:check more about it 946/293983 = 0.3%

946

    ==============================================================================================

## Initial Clean
- Remember to create a copy of the df using ``` df.copy()```

In [30]:
ol_original = ol.copy()

      ===============================================

### Strip whitespaces
- ``` df.applymap(lambda x: x.strip() if isinstance(x, str) else x)```

In [31]:
ol = ol.applymap(lambda x: x.strip() if isinstance(x, str) else x)

      ===============================================
### Remove Duplicates Rows
- ``` df.duplicated().sum()``` 
- ``` df.loc[df.duplicated()==True]``` 
- ``` df=df.drop:duplicates() ``` 
- ``` df=df.drop:duplicates(subset=["col"])```  --> remove rows based on duplicated in specific column

In [32]:
ol.duplicated().sum() #hint : No duplicates

0

      =======================

#### Remove duplicated rows related to Unique columns
- find possible duplicates ``` len(df.col.unique()) == df.shape[0] ``` 
- get the excat value for duplicate columns ``` df.loc[df.duplicated(subset="col")]``` 
- find all columns with same value ``` df[df.col=="val"]```

check if ol_ID is unique

In [33]:
len(ol.OL_ID.unique()) == ol.shape[0]

True

      ===============================================

### Drop duplicate/un-necessary Columns
- ``` df=df.drop(columns=["col1","col2"])```

In [34]:
ol.describe() ## hint: all columns contain needed data. nothing to drop

              OL_ID      ol_ORD_ID  ol_ProdId    ol_ProdQnty
count  2.939830e+05  293983.000000   293983.0  293983.000000
mean   1.397918e+06  419999.116544        0.0       1.121126
std    1.530096e+05   66344.486479        0.0       3.396569
min    1.119109e+06  241319.000000        0.0       1.000000
25%    1.262542e+06  362258.500000        0.0       1.000000
50%    1.406940e+06  425956.000000        0.0       1.000000
75%    1.531322e+06  478657.000000        0.0       1.000000
max    1.650203e+06  527401.000000        0.0     999.000000

drop ol_ProductId

In [35]:
ol = ol.drop(columns=["ol_ProdId"])

    ==============================================================================================

## Compare to original DataFrame
``` df.compare(df2)```

In [36]:
#ol.compare(ol_original)

    ==============================================================================================

## Export the cleaned DataFrame

``` df.to_pickle("file_name.pkl")```

In [37]:
ol.to_pickle("clean_Tables\OrderLines_c.pkl")