    ==============================================================================================

## Importing the DataFrames
- ``` df = pd.read_pickle("file_name.pkl")```  --> create 1 df from a pkl file

In [3]:
import pandas as pd
import numpy as np
pd.set_option("display.min_rows", 0) 
pd.set_option("display.max_rows", 30) 
pd.__version__

'1.4.4'

In [4]:
ord = pd.read_pickle("clean_Tables\Orders_c.pkl")
ord_s = pd.read_pickle("clean_Tables\Orders_s.pkl")
ol = pd.read_pickle("clean_Tables\OrderLines_c.pkl")
pro = pd.read_pickle("clean_Tables\Products_c.pkl")

In [197]:
ord.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46605 entries, 1 to 226619
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ORD_ID         46605 non-null  int64
 1   ord_CreatDate  46605 non-null  object
 2   ord_TotlPaid   46605 non-null  float64
 3   ord_State      46605 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.8+ MB

In [198]:
ol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   OL_ID           293983 non-null  int64
 1   ol_ORD_ID       293983 non-null  int64
 2   ol_ProdQnty     293983 non-null  int64
 3   ol_Sku          293983 non-null  object
 4   ol_ProdUntPr    293983 non-null  object
 5   ol_ProcessDate  293983 non-null  object
dtypes: int64(3), object(3)
memory usage: 13.5+ MB

In [199]:
pro.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10579 entries, 0 to 19325
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PRO_SKU      10579 non-null  object
 1   pro_Name     10579 non-null  object
 2   pro_Desc     10572 non-null  object
 3   pro_Pr       10534 non-null  object
 4   pro_InStock  10579 non-null  int64
 5   pro_Type     10529 non-null  object
dtypes: int64(1), object(5)
memory usage: 578.5+ KB

    ==============================================================================================

## Merge DataFrames
- ``` df.shape``` , ``` df.size``` , ``` df.ndim``` 
- ``` df.sample(5)``` , ``` df.info()``` 
- Numerical : ``` df.describe()``` , ``` df.col.nlargest()``` , ``` df.col.nsmallest()``` 
- Category : ``` df.nunique()``` , ``` df.unique() ```

In [200]:
db = ord.copy()

In [1]:
db = db.merge(ol,how="inner",left_on="ORD_ID",right_on="ol_ORD_ID",validate="one_to_many")

NameError: name 'db' is not defined

In [202]:
db = db.merge(pro,how="inner",left_on="ol_Sku",right_on="PRO_SKU",validate="many_to_one")

In [203]:
pd.set_option('max_colwidth', 40)
pd.get_option('max_colwidth')

40

In [204]:
db.sample(5)

,ORD_ID,ord_CreatDate,ord_TotlPaid,ord_State,OL_ID,ol_ORD_ID,ol_ProdQnty,ol_Sku,ol_ProdUntPr,ol_ProcessDate,PRO_SKU,pro_Name,pro_Desc,pro_Pr,pro_InStock,pro_Type
20164,420343,2017-10-31 13:19:23,91.58,Completed,1394199,420343,1,CRU0050,91.58,2017-10-31 13:15:51,CRU0050,Crucial MX300 275GB SSD Disk,SSD 275GB SATA Hard Disk 3.0 (6Gb / ...,98.39,0,12215397
41965,486291,2018-01-09 11:00:58,887.97,Completed,1548782,486291,1,SYN0187,240.99,2018-01-09 09:54:45,SYN0187,Synology NAS Server DS218play Mac an...,2-bay NAS server can accommodate 4K ...,240.99,0,12175397
26501,311718,2017-01-18 17:44:42,63.97,Completed,1151571,311718,1,LEX0026,21.99,2017-01-18 17:32:03,LEX0026,Lexar JumpDrive Lightning USB 3.0 M2...,Pendrive (MFI) with double connectio...,43.9,0,42945397
910,398424,2017-09-11 18:35:58,422.56,Completed,1349182,398424,1,CRU0026-2,138.99,2017-09-10 17:08:36,CRU0026-2,Crucial memory Mac 16GB (2x8GB) SO-D...,RAM 16GB (2x8GB) Mac mini (2011) iMa...,163.98,1,1364
23860,512224,2018-02-15 20:09:12,123.98,Completed,1615396,512224,1,LAC0186,119.99,2018-02-15 19:51:27,LAC0186,1TB LaCie Rugged USB 3.0 Thunderbolt,Portable Hard Disk Thunderbolt and U...,159.99,1,11935397

In [5]:
db_s = ord_s.copy()

In [6]:
db_s = db_s.merge(ol,how="inner",left_on="ORD_ID",right_on="ol_ORD_ID",validate="one_to_many")

In [7]:
db_s = db_s.merge(pro,how="inner",left_on="ol_Sku",right_on="PRO_SKU",validate="many_to_one")

In [8]:
pd.set_option('max_colwidth', 40)
pd.get_option('max_colwidth')

40

    ==============================================================================================

## Clean Merged Data
- Remember to create a copy of the df using ``` df.copy()```

In [205]:
db_original = db.copy()

      ===============================================

### Drop duplicated Columns, Reorder and Set Index
 - ``` df.columns```   , ``` df.index``` 
 - ``` df=df.rename(columns={"A": "a", "B": "c"})``` 
 - ``` df.columns = ["a","b":"x"]``` 
     - take care, renaming the columns like that will convert the NAN to some value!!
 - ``` df=df.set_index("col")```  , ``` df=df.reset_index()```

In [206]:
db = db.drop(columns=["ol_ORD_ID","ol_Sku","ord_State"])

In [207]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61742 entries, 0 to 61741
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ORD_ID          61742 non-null  int64
 1   ord_CreatDate   61742 non-null  object
 2   ord_TotlPaid    61742 non-null  float64
 3   OL_ID           61742 non-null  int64
 4   ol_ProdQnty     61742 non-null  int64
 5   ol_ProdUntPr    61742 non-null  object
 6   ol_ProcessDate  61742 non-null  object
 7   PRO_SKU         61742 non-null  object
 8   pro_Name        61742 non-null  object
 9   pro_Desc        61738 non-null  object
 10  pro_Pr          61710 non-null  object
 11  pro_InStock     61742 non-null  int64
 12  pro_Type        61729 non-null  object
dtypes: float64(1), int64(4), object(8)
memory usage: 6.6+ MB

In [208]:
db.shape

(61742, 13)

In [209]:
db.index #hint: no need to change index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            61732, 61733, 61734, 61735, 61736, 61737, 61738, 61739, 61740,
            61741],
           dtype='int64', length=61742)

      ===============================================
      
### Clean NAN and empty cells
- ``` df.isna().sum()``` 
- check if it make sense to replace empty cells with NAN or with another value!
- ``` df = df.replace('^\s*$', np.nan)```  -->replace empty cells and cells with only whitspace with NAN
- check if other cells has the value you want to use to fill nan  ``` df.col.str.contains("pat", na=False).sum() ```
- ``` df=df.col.fillna(value,method="bfill"or"ffill",limit=value)``` 

- Extra: 
  - ``` (df.values == '').sum()```  --> check if any cell is empty
  - ``` df.col.str.isspace().sum()```  --> check if all cell is filled with whitespaces

In [210]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61742 entries, 0 to 61741
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ORD_ID          61742 non-null  int64
 1   ord_CreatDate   61742 non-null  object
 2   ord_TotlPaid    61742 non-null  float64
 3   OL_ID           61742 non-null  int64
 4   ol_ProdQnty     61742 non-null  int64
 5   ol_ProdUntPr    61742 non-null  object
 6   ol_ProcessDate  61742 non-null  object
 7   PRO_SKU         61742 non-null  object
 8   pro_Name        61742 non-null  object
 9   pro_Desc        61738 non-null  object
 10  pro_Pr          61710 non-null  object
 11  pro_InStock     61742 non-null  int64
 12  pro_Type        61729 non-null  object
dtypes: float64(1), int64(4), object(8)
memory usage: 6.6+ MB

In [211]:
db.isna().sum()

ORD_ID             0
ord_CreatDate      0
ord_TotlPaid       0
OL_ID              0
ol_ProdQnty        0
ol_ProdUntPr       0
ol_ProcessDate     0
PRO_SKU            0
pro_Name           0
pro_Desc           4
pro_Pr            32
pro_InStock        0
pro_Type          13
dtype: int64

In [212]:

db = db.replace('^\s*$', np.nan)
# TODO:HANA Question is it safe to do that?

In [213]:
db.isna().sum()

ORD_ID             0
ord_CreatDate      0
ord_TotlPaid       0
OL_ID              0
ol_ProdQnty        0
ol_ProdUntPr       0
ol_ProcessDate     0
PRO_SKU            0
pro_Name           0
pro_Desc           4
pro_Pr            32
pro_InStock        0
pro_Type          13
dtype: int64

___ For pro_Desc   ___

In [214]:
db.pro_Desc.dtype

dtype('O')

In [215]:
db.pro_Desc = db.pro_Desc.fillna("No Description")

In [216]:
db.isna().sum()

ORD_ID             0
ord_CreatDate      0
ord_TotlPaid       0
OL_ID              0
ol_ProdQnty        0
ol_ProdUntPr       0
ol_ProcessDate     0
PRO_SKU            0
pro_Name           0
pro_Desc           0
pro_Pr            32
pro_InStock        0
pro_Type          13
dtype: int64

___ For pro_Type   ___

In [217]:
db.pro_Type.str.contains("^0+\.0+$", na=False).sum()
# No value is Zero , safely set NAN to 0

0

In [218]:
db.pro_Type = db.pro_Type.fillna("0")

In [219]:
db.isna().sum()

ORD_ID             0
ord_CreatDate      0
ord_TotlPaid       0
OL_ID              0
ol_ProdQnty        0
ol_ProdUntPr       0
ol_ProcessDate     0
PRO_SKU            0
pro_Name           0
pro_Desc           0
pro_Pr            32
pro_InStock        0
pro_Type           0
dtype: int64

___ For pro_Pr   ___

In [220]:
db.pro_Pr.str.contains("^0+\.0+$", na=False).sum()
# No value is Zero , safely set NAN to 0

0

In [221]:
db.pro_Pr = db.pro_Pr.fillna("0")

In [222]:
db.isna().sum()

ORD_ID            0
ord_CreatDate     0
ord_TotlPaid      0
OL_ID             0
ol_ProdQnty       0
ol_ProdUntPr      0
ol_ProcessDate    0
PRO_SKU           0
pro_Name          0
pro_Desc          0
pro_Pr            0
pro_InStock       0
pro_Type          0
dtype: int64

      ===============================================
### Fix DataTypes
- use ```df.nunique()``` to find if column is bool or Category
- before change, make sure all values will be converted correct
  - to convert to numeric : check no letters, 
      - if float(2dec) ```(~df.col.str.contains("^\d+.\d{2}$")).sum()```
      - if integer ```(~df.col.str.contains("^\d+$")).sum()```
  - to convert to category : check there are reasonable number of unique items
  - to convert to Datetime : ```(~df.col.str.contains("^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$")).sum()```
- ``` df.col.astype(type,errors="raise")``` 
  - type = "int","float","bool","category","object","datetime","timedelta"
- for mixed data
  - ``` pd.to_numeric(df.col, downcast=x,errors="raise") ``` 
  x = "integer" or "float"
  - ``` pd.to_datetime(df.col, downcast=None,errors="raise") ``` 
  - ``` pd.to_timedelta(df.col, downcast=None,errors="raise") ```

___ For ord_CreatDate ___

In [223]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61742 entries, 0 to 61741
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ORD_ID          61742 non-null  int64
 1   ord_CreatDate   61742 non-null  object
 2   ord_TotlPaid    61742 non-null  float64
 3   OL_ID           61742 non-null  int64
 4   ol_ProdQnty     61742 non-null  int64
 5   ol_ProdUntPr    61742 non-null  object
 6   ol_ProcessDate  61742 non-null  object
 7   PRO_SKU         61742 non-null  object
 8   pro_Name        61742 non-null  object
 9   pro_Desc        61742 non-null  object
 10  pro_Pr          61742 non-null  object
 11  pro_InStock     61742 non-null  int64
 12  pro_Type        61742 non-null  object
dtypes: float64(1), int64(4), object(8)
memory usage: 6.6+ MB

In [224]:
(~db.ord_CreatDate.str.contains("^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$")).sum() 
# all rows has the datetime pattern, save to convert

0

In [225]:
db.ord_CreatDate=pd.to_datetime(db.ord_CreatDate,errors="raise")

In [226]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61742 entries, 0 to 61741
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ORD_ID          61742 non-null  int64
 1   ord_CreatDate   61742 non-null  datetime64[ns]
 2   ord_TotlPaid    61742 non-null  float64
 3   OL_ID           61742 non-null  int64
 4   ol_ProdQnty     61742 non-null  int64
 5   ol_ProdUntPr    61742 non-null  object
 6   ol_ProcessDate  61742 non-null  object
 7   PRO_SKU         61742 non-null  object
 8   pro_Name        61742 non-null  object
 9   pro_Desc        61742 non-null  object
 10  pro_Pr          61742 non-null  object
 11  pro_InStock     61742 non-null  int64
 12  pro_Type        61742 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(4), object(7)
memory usage: 6.6+ MB

___ For ol_ProcessDate ___

In [227]:
(~db.ol_ProcessDate.str.contains("^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$")).sum() 
# all rows has the datetime pattern, save to convert

0

In [228]:
db.ol_ProcessDate=pd.to_datetime(db.ol_ProcessDate,errors="raise")

___ For pro_InStock ___

In [229]:
db.pro_InStock.unique()

array([1, 0], dtype=int64)

In [230]:
db.pro_InStock = db.pro_InStock.astype("bool",errors="raise")

In [231]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61742 entries, 0 to 61741
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ORD_ID          61742 non-null  int64
 1   ord_CreatDate   61742 non-null  datetime64[ns]
 2   ord_TotlPaid    61742 non-null  float64
 3   OL_ID           61742 non-null  int64
 4   ol_ProdQnty     61742 non-null  int64
 5   ol_ProdUntPr    61742 non-null  object
 6   ol_ProcessDate  61742 non-null  datetime64[ns]
 7   PRO_SKU         61742 non-null  object
 8   pro_Name        61742 non-null  object
 9   pro_Desc        61742 non-null  object
 10  pro_Pr          61742 non-null  object
 11  pro_InStock     61742 non-null  bool
 12  pro_Type        61742 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(1), int64(3), object(6)
memory usage: 6.2+ MB

___ For ol_ProdUntPr ___

In [232]:
#db_Pr = db[["ORD_ID","ord_TotlPaid","ol_ProdQnty","ol_ProdUntPr","pro_Pr","PRO_SKU","pro_Name"]].copy()

In [233]:
db.sample(5)

,ORD_ID,ord_CreatDate,ord_TotlPaid,OL_ID,ol_ProdQnty,ol_ProdUntPr,ol_ProcessDate,PRO_SKU,pro_Name,pro_Desc,pro_Pr,pro_InStock,pro_Type
40069,479408,2018-01-02 11:46:15,1075.98,1531988,1,942.99,2018-01-02 11:42:47,SYN0111,Synology RackStation RS815 +,4-bay NAS server optimized for inten...,943.99,False,12175397
60619,501346,2018-01-31 13:32:39,3486.58,1592149,1,79.99,2018-01-31 13:27:55,SAT0072,Satechi Multiport Adapter HDMI Type-...,Satechi Multiport Adapter Type C HDM...,89.99,True,12585395
6761,520405,2018-03-03 14:02:31,119.96,1633959,1,10.99,2018-03-03 13:58:23,APP0698,Apple Lightning Cable Connector to U...,Apple Lightning USB Cable 1 meter to...,25,True,1230
25331,303546,2017-01-06 11:31:38,44.98,1132104,1,39.99,2017-01-06 11:26:20,MOS0219,SenseCover Moshi Case Rosa iPhone 7/...,Cover with lid front opening and fol...,50,False,11865403
38166,501673,2018-01-30 01:26:10,61.98,1589073,1,56.99,2018-01-30 01:23:18,FIB0011,Fibaro Single Switch embedded module,embedded module to control your cons...,599.918,False,11905404

In [234]:
db.ol_ProdUntPr.dtype

dtype('O')

In [235]:
(db.ol_ProdUntPr.str.count('\.') > 1).sum()

3552

In [236]:
str_decide="Drop it"
x= round((((db.ol_ProdUntPr.str.count('\.') > 1).sum())/db.shape[0])*100,2)
if x > 5:
    str_decide = "Clean it"

In [237]:
print(f"the percentage of 2dec ol_ProdUntPr rows is {x}%, hence {str_decide}")

the percentage of 2dec ol_ProdUntPr rows is 5.75%, hence Clean it

In [238]:
db[(db.ol_ProdUntPr.str.count('\.') > 1)].sample(5)

,ORD_ID,ord_CreatDate,ord_TotlPaid,OL_ID,ol_ProdQnty,ol_ProdUntPr,ol_ProcessDate,PRO_SKU,pro_Name,pro_Desc,pro_Pr,pro_InStock,pro_Type
9250,424417,2017-11-10 11:29:30,1408.59,1402599,1,1.408.59,2017-11-10 11:21:44,APP2064,"Apple MacBook Retina 12 ""Core m3 12G...",New MacBook Retina Display 12-inch C...,1505.59,False,"5,39E+11"
47395,502432,2018-01-31 15:27:32,1378.59,1592374,1,1.378.59,2018-01-31 15:18:26,APP2078,"Apple MacBook Pro 13 ""Core i5 23GHz ...",New MacBook Pro 13-inch Core i5 23GH...,1505.59,True,"1,02E+12"
58590,447792,2017-11-27 12:49:52,1305.00,1456948,1,1.305.00,2017-11-27 12:00:36,DJI0022,Mavic Pro DJI Drone Fly More Combo,Drone cuadricóptero quality camera i...,1499,True,11905404
42498,350330,2017-04-27 17:58:41,1970.97,1236929,1,1.840.99,2017-04-27 16:40:43,APP1830,"Apple MacBook Pro 13 ""Core i5 2GHz |...",MacBook Pro 13 inch i5 2GHz RAM 16GB...,1939,False,2158
48002,407272,2017-10-02 13:15:54,1635.59,1367296,1,1.635.59,2017-10-02 11:52:48,APP2080,"Apple MacBook Pro 13 ""Core i5 23GHz ...",New MacBook Pro 13-inch Core i5 23GH...,1755.59,False,"1,02E+12"

In [239]:
db=(
    db
    .assign(ol_ProdUntPr = lambda x:np.where(
      (x.ol_ProdUntPr.str.count('\.') == 2)
      ,x.ol_ProdUntPr.str.replace("\.","",1,regex=True)
      ,x.ol_ProdUntPr
      ))
)

In [240]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61742 entries, 0 to 61741
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ORD_ID          61742 non-null  int64
 1   ord_CreatDate   61742 non-null  datetime64[ns]
 2   ord_TotlPaid    61742 non-null  float64
 3   OL_ID           61742 non-null  int64
 4   ol_ProdQnty     61742 non-null  int64
 5   ol_ProdUntPr    61742 non-null  object
 6   ol_ProcessDate  61742 non-null  datetime64[ns]
 7   PRO_SKU         61742 non-null  object
 8   pro_Name        61742 non-null  object
 9   pro_Desc        61742 non-null  object
 10  pro_Pr          61742 non-null  object
 11  pro_InStock     61742 non-null  bool
 12  pro_Type        61742 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(1), int64(3), object(6)
memory usage: 6.2+ MB

In [241]:
db.ol_ProdUntPr = db.ol_ProdUntPr.astype(float)

___ For pro_Pr  ___

In [242]:
db.sample(5)

,ORD_ID,ord_CreatDate,ord_TotlPaid,OL_ID,ol_ProdQnty,ol_ProdUntPr,ol_ProcessDate,PRO_SKU,pro_Name,pro_Desc,pro_Pr,pro_InStock,pro_Type
51451,492520,2018-01-16 22:30:57,28.98,1565000,1,24.99,2018-01-16 22:27:01,SAN0144,Sandisk Ultra 64GB USB Pen-Drive-C,64GB USB flash drive for Type C devices,26.99,True,57445397
29685,479192,2018-01-02 10:12:44,144.60,1531611,1,19.99,2018-01-02 10:04:50,LOG0107,Logitech M187 Wireless Mouse White,Mini Wireless Pocket Mouse.,20.99,False,1387
61449,511623,2018-02-14 17:50:16,130.97,1614078,1,78.99,2018-02-14 17:40:42,ICA0089,Incase Lite Icon Pack Backpack for M...,Incase backpack with 12 liters of lo...,99.95,True,1392
24026,358635,2017-05-24 09:52:45,282.99,1253786,1,282.99,2017-05-24 09:50:45,LAC0206,LaCie d2 Hard Drive 4TB Thunderbolt ...,4TB external hard drive designed to ...,309,True,11935397
38852,319582,2017-02-03 14:11:12,609.99,1170612,1,609.99,2017-02-03 14:08:02,DLL0031,"Dell UltraSharp Monitor UP2716D 27 ""...",Monitor with slim frame premier tech...,683.99,True,1296

In [243]:
str_decide="Drop it"
x= round((((db.pro_Pr.str.count('\.') > 1).sum())/db.shape[0])*100,2)
if x > 5:
    str_decide = "Clean it"
print(f"the percentage of 2dec pro_Pr rows is {round(x,2)}% , Hence {str_decide}")

the percentage of 2dec pro_Pr rows is 1.29% , Hence Drop it

In [244]:
db.shape

(61742, 13)

In [245]:
db = db.loc[db.pro_Pr.str.count('\.') < 2]

In [246]:
db.shape

(60943, 13)

In [247]:
db.pro_Pr = db.pro_Pr.astype(float)

In [248]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60943 entries, 0 to 61741
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ORD_ID          60943 non-null  int64
 1   ord_CreatDate   60943 non-null  datetime64[ns]
 2   ord_TotlPaid    60943 non-null  float64
 3   OL_ID           60943 non-null  int64
 4   ol_ProdQnty     60943 non-null  int64
 5   ol_ProdUntPr    60943 non-null  float64
 6   ol_ProcessDate  60943 non-null  datetime64[ns]
 7   PRO_SKU         60943 non-null  object
 8   pro_Name        60943 non-null  object
 9   pro_Desc        60943 non-null  object
 10  pro_Pr          60943 non-null  float64
 11  pro_InStock     60943 non-null  bool
 12  pro_Type        60943 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(3), int64(3), object(4)
memory usage: 6.1+ MB

      ===============================================
### Analyze Outliers

remove un-necessary values(respectively related rows) of specific columns
- ``` Q1   = df.col.quantile(0.25) ``` 
- ``` Q3   = df.col.quantile(0.75) ``` 
- ``` IQR = Q3 - Q1 ``` 
- ``` num_inliers =((df.col >= (Q1 - 1.5*IQR)) & (df.col <= (Q3 + 1.5*IQR))).sum() ```
- ``` num_outliers = df.shape[0]-num_inliers ```
- ``` per_outliers = round((num_outliers/df.shape[0])*100,2) ```
- ``` print(f'''{num_outliers} out of {df.shape[0]} are outliers from col,ie {per_outliers}%''') ``` 
- ```if per_outliers < 3:```
    ```    print("Drop it")```
    ```else:```
    ```    print("Clean it") ```

In [276]:
db.describe()

,ORD_ID,ord_TotlPaid,OL_ID,ol_ProdQnty,ol_ProdUntPr,pro_Pr
count,60943.000000,60943.000000,6.094300e+04,60943.000000,60943.000000,60943.000000
mean,414636.666803,400.361607,1.386243e+06,1.121523,236.792624,278.021254
std,65368.236302,729.050642,1.504055e+05,0.780114,501.349164,565.214622
min,241423.000000,0.000000,1.119116e+06,1.000000,0.010000,0.000000
25%,363134.000000,56.980000,1.266572e+06,1.000000,28.990000,39.950000
50%,417410.000000,136.790000,1.390130e+06,1.000000,69.990000,89.990000
75%,469963.000000,386.090000,1.513546e+06,1.000000,181.155000,224.990000
max,527112.000000,13387.780000,1.649593e+06,72.000000,8287.800000,9799.000000

__ ord_TotlPaid __

In [277]:
Q1   = db.ord_TotlPaid.quantile(0.25)
Q3   = db.ord_TotlPaid.quantile(0.75)
IQR = Q3 - Q1
num_inliers =((db.ord_TotlPaid >= (Q1 - 1.5*IQR)) & (db.ord_TotlPaid <= (Q3 + 1.5*IQR))).sum()
num_outliers = db.shape[0]-num_inliers
per_outliers = round((num_outliers/db.shape[0])*100,2)
print(f'''{num_outliers} out of {db.shape[0]} are outliers from ord_TotlPaid, ie {per_outliers}%''')
#df   = db.loc[]
if per_outliers < 3:
    print("Drop it")
else:
    print("Clean it")

7055 out of 60943 are outliers from ord_TotlPaid, ie 11.58%
Clean it

In [262]:
db.describe()

,ORD_ID,ord_TotlPaid,OL_ID,ol_ProdQnty,ol_ProdUntPr,pro_Pr
count,60943.000000,60943.000000,6.094300e+04,60943.000000,60943.000000,60943.000000
mean,414636.666803,400.361607,1.386243e+06,1.121523,236.792624,278.021254
std,65368.236302,729.050642,1.504055e+05,0.780114,501.349164,565.214622
min,241423.000000,0.000000,1.119116e+06,1.000000,0.010000,0.000000
25%,363134.000000,56.980000,1.266572e+06,1.000000,28.990000,39.950000
50%,417410.000000,136.790000,1.390130e+06,1.000000,69.990000,89.990000
75%,469963.000000,386.090000,1.513546e+06,1.000000,181.155000,224.990000
max,527112.000000,13387.780000,1.649593e+06,72.000000,8287.800000,9799.000000

    ==============================================================================================

## Re-Explore the data
draw some ``` df.col.hist()```  , ``` df.ser.boxplot()```  per column
take notes

In [ ]:
db.columns

In [ ]:
db.groupby(db.ord_CreatDate.dt.year).ord_CreatDate.hist()

In [ ]:
db.ord_CreatDate.hist();

In [ ]:
db.ord_TotlPaid.hist();

In [ ]:
db.ol_ProdQnty.hist(bins=20);

In [ ]:
db.ol_ProdUntPr.hist();

In [ ]:
db.pro_Pr.hist();

In [ ]:
db.pro_Type.hist();

In [ ]:
db.columns

In [ ]:
#db.groupby("ord_TotlPaid").boxplot()

    ==============================================================================================

## Export the cleaned DataFrame

``` df.to_pickle("file_name.pkl")```

In [ ]:
db.to_pickle("clean_Tables\Merged_c.pkl")