# CleaningUp orders.csv (ord_)
orders.csv – Every row in this file represents an order.
- order_id – a unique identifier for each order
- created_date – a timestamp for when the order was created
- total_paid – the total amount paid by the customer for this order, in euros
- state 
  - “Shopping basket” – products have been placed in the shopping basket, but the order has not been processed yet.
  - “Pending” – the shopping basket has been processed, but payment confirmation is pending.
  - “Completed” – the order has been placed and paid, and the transaction is completed.
  - “Cancelled” – the order has been cancelled and the payment returned to the customer.

## Importing the data
- ``` glob-glob("file_pat") ``` --> read multi files 
- ``` pd.concat(dfs_list, ignore_index=True)```  --> create 1 df from multi dfs
- ``` pd.read_csv(path)```  --> create 1 df from a csv file

In [54]:
import pandas as pd

url = "https://drive.google.com/file/d/1Vu0q91qZw6lqhIqbjoXYvYAQTmVHh6uZ/view?usp=sharing" 
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
df = pd.read_csv(path)

In [55]:
#pd.options.display.max_rows = 999
pd.set_option("display.min_rows", 0) 
pd.get_option("display.min_rows")

0

In [56]:
pd.set_option("display.max_rows", 200) 
pd.get_option("display.max_rows")

200

## Explore the data
- ``` df.shape``` , ``` df.size``` , ``` df.ndim``` 
- ``` df.sample(5)``` , ``` df.info()``` 
- Numerical : ``` df.describe()``` , ``` df.nlargest()``` , ``` df.nsmallest()``` 
- Category : ``` df.nunique()``` , ``` df.unique() ```

In [3]:
df.shape

(226909, 4)

In [52]:
df.sample(200)

        order_id         created_date  total_paid            state
215882    516373  2018-02-23 10:03:16     1190.78  Shopping Basket
178475    478867  2018-01-01 22:23:34       24.98        Completed
197516    498000  2018-01-24 22:38:52     2403.58  Shopping Basket
75564     375110  2017-07-10 07:03:16      229.00  Shopping Basket
133719    433380  2017-11-23 07:07:21     2531.59  Shopping Basket
104748    404333  2017-09-25 12:36:54      154.98      Place Order
65022     364567  2017-06-11 22:58:03      144.97  Shopping Basket
47318     346811  2017-04-17 21:32:28       22.49  Shopping Basket
205941    506429  2018-02-05 19:04:05     1008.98      Place Order
6623      306092  2017-01-09 22:00:10       22.98        Completed
8403      307873  2017-01-12 11:36:24     1351.99  Shopping Basket
93210     392789  2017-08-26 00:02:01       99.99  Shopping Basket
87919     387496  2017-08-08 14:15:42        0.00  Shopping Basket
199221    499706  2018-01-27 17:29:32      409.98  Shopping Basket
38280     337766  2017-03-22 12:53:40     1558.99  Shopping Basket
138812    438605  2017-11-24 11:52:46        0.00      Place Order
21247     320727  2017-02-07 00:40:44       47.99  Shopping Basket
201102    501587  2018-01-29 23:29:06       48.99  Shopping Basket
93755     393334  2017-08-28 10:33:07       49.99      Place Order
199795    500280  2018-01-28 18:39:28     1393.99  Shopping Basket
141583    441674  2017-11-24 21:44:57     1888.59      Place Order
129672    429287  2017-11-20 14:16:28      140.79        Completed
131534    431176  2017-11-22 07:33:40      160.59  Shopping Basket
113588    413174  2017-10-16 16:48:22       29.99  Shopping Basket
78342     377890  2017-07-15 16:28:13     2561.16      Place Order
149472    449642  2017-11-27 22:10:42      489.11        Completed
187157    487569  2018-01-13 18:26:34      395.98        Completed
88008     387586  2017-08-08 20:28:51      203.57          Pending
104491    404076  2017-09-24 22:32:14     2371.59  Shopping Basket
80829     380379  2017-07-21 13:15:41       94.99      Place Order
67749     367295  2017-06-19 21:42:31        0.00      Place Order
223886    524378  2018-03-10 03:41:15      675.00  Shopping Basket
156433    456657  2017-12-07 03:44:32     3104.57  Shopping Basket
117586    417172  2017-10-25 00:12:38       24.98        Completed
193528    494010  2018-01-18 16:30:00       46.99  Shopping Basket
55643     355179  2017-05-12 10:29:15      109.99        Completed
36386     335870  2017-03-16 16:57:17       79.99  Shopping Basket
45852     345345  2017-04-11 11:48:27      428.97        Completed
177507    477899  2018-01-05 20:49:03       64.99        Completed
106202    405787  2017-09-28 12:25:59      165.57        Completed
217347    517838  2018-02-26 17:59:51     3494.01  Shopping Basket
150829    451030  2017-11-28 23:30:17     3188.57  Shopping Basket
71782     371328  2017-07-01 20:38:35     2629.00  Shopping Basket
71170     370716  2017-06-30 12:15:57       14.99  Shopping Basket
191848    492330  2018-01-16 18:56:01      309.99  Shopping Basket
220877    521368  2018-03-05 10:36:05     4933.97  Shopping Basket
59683     359222  2017-05-25 20:37:29       40.99  Shopping Basket
39277     338763  2017-03-24 16:21:58     1544.98        Completed
78118     377666  2017-07-14 20:30:25        0.00      Place Order
115423    415009  2017-10-20 11:32:22        0.00      Place Order
...          ...                  ...         ...              ...
4951      304420  2017-01-07 19:37:27      366.99  Shopping Basket
67629     367175  2017-06-19 16:00:57        0.00  Shopping Basket
125858    425471  2017-11-11 19:59:11        0.00  Shopping Basket
69812     369358  2017-06-26 22:41:40      140.99  Shopping Basket
224634    525126  2018-03-10 21:16:35      251.99  Shopping Basket
197209    497693  2018-01-24 14:13:29     1627.96  Shopping Basket
219688    520179  2018-03-02 16:22:27        2.99  Shopping Basket
115191    414777  2017-10-20 08:41:47       10.58  Shopping Basket
128188    427802  2017-11-17 00:13:03     4099.74  Shopping Basket
34389     333873  2017-03-10 11:25:21       59.99  Shopping Basket
152408    452611  2017-11-30 13:49:16      689.00  Shopping Basket
23105     322585  2017-02-11 13:09:06       29.99  Shopping Basket
95731     395314  2017-09-01 09:03:05      469.00  Shopping Basket
77701     377249  2017-07-14 01:50:20        3.99      Place Order
87193     386768  2017-08-06 22:14:41       63.00  Shopping Basket
216809    517300  2018-02-25 20:56:12     1466.00  Shopping Basket
212536    513027  2018-02-17 09:18:24     1130.99        Completed
67154     366700  2017-06-18 12:08:56       39.98          Pending
13906     313384  2017-01-22 22:09:33       23.97  Shopping Basket
210433    510924  2018-02-13 20:32:17       99.17  Shopping Basket
212045    512536  2018-02-16 09:13:45       20.97        Completed
166860    467171  2017-12-19 20:31:17        0.00  Shopping Basket
99010     398594  2017-09-11 00:24:41      122.78        Completed
107207    406792  2017-09-30 22:22:53        0.00      Place Order
163178    463465  2017-12-15 01:00:52       37.98        Completed
169767    470139  2017-12-23 09:51:16       77.98        Completed
47577     347070  2017-04-18 14:47:31       99.00        Completed
82389     381963  2017-07-25 20:19:11      213.98        Cancelled
221440    521932  2018-03-05 22:01:36       69.99  Shopping Basket
131793    431435  2017-11-22 10:29:17      648.59  Shopping Basket
38659     338145  2017-03-23 11:03:50        0.00  Shopping Basket
102330    401915  2017-09-19 17:53:10      113.98        Completed
87398     386973  2017-08-07 11:40:52      885.32        Cancelled
74218     373764  2017-07-06 17:05:27     1948.99  Shopping Basket
148855    448988  2017-11-27 18:13:37       61.30        Completed
210994    511485  2018-02-14 14:03:34     1689.99  Shopping Basket
120177    419765  2017-10-30 12:47:11     1233.60      Place Order
4348      303817  2017-01-06 21:01:14      149.99  Shopping Basket
83169     382744  2017-07-27 10:58:09       29.99      Place Order
19504     318984  2017-02-01 21:05:57       17.44        Completed
6024      305493  2017-01-09 10:07:28       89.99  Shopping Basket
57549     357086  2017-05-18 21:47:08      174.99  Shopping Basket
225946    526439  2018-03-13 13:41:47       19.99  Shopping Basket
16337     315816  2017-01-27 12:46:41        0.00  Shopping Basket
70261     369807  2017-06-28 09:19:10       10.99  Shopping Basket
168844    469201  2017-12-22 08:46:58        4.99      Place Order
12035     311510  2017-01-18 11:43:34       74.98        Cancelled
200182    500667  2018-01-29 06:04:07     5080.58  Shopping Basket
23276     322756  2017-02-12 00:10:55      411.99  Shopping Basket
193646    494129  2018-01-18 20:04:23      329.99          Pending

[200 rows x 4 columns]

In [5]:
df.info()  
## hint: there are 5 nulls in total_paid - fix required
## hint: created_date is of type object, has to be datetime - fix required

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226909 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      226909 non-null  int64
 1   created_date  226909 non-null  object
 2   total_paid    226904 non-null  float64
 3   state         226909 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 6.9+ MB

In [6]:
df.describe()
## hint: total_paid has huge std , min = 0 as some points! probably we should exclude the total_paid = 0 - fix required

            order_id     total_paid
count  226909.000000  226904.000000
mean   413296.482480     569.225818
std     65919.250331    1761.778002
min    241319.000000       0.000000
25%    356263.000000      34.190000
50%    413040.000000     112.990000
75%    470553.000000     525.980000
max    527401.000000  214747.530000

In [7]:
df.nunique() # hint: order_id is unique per row 
# hint: state is category data

order_id        226909
created_date    224828
total_paid       31236
state                5
dtype: int64

In [8]:
df.state.unique()
#hint: state has value "Shopping Basket"/"Pending" which ideally shall not be part of the analysis - fix required
# (if we care about actuall sold products)

array(['Cancelled', 'Completed', 'Pending', 'Shopping Basket',
       'Place Order'], dtype=object)

## Clean the data per csv
- Remember to create a copy of the df using ``` df.copy()```

In [9]:
df_c = df.copy()

### Rename Columns , Set Index
 - ``` df.columns```   , ``` df.index``` 
 - ``` df=df.rename(columns={"A": "a", "B": "c"})``` 
 - ``` df.columns = ["a","b":"x"]``` 
     - take care, renaming the columns like that will convert the NAN to some value!!
 - ``` df=df.set_index("col")```  , ``` df=df.reset_index()```

In [10]:
df_c.columns #hint: columns names shall has indec ord_

Index(['order_id', 'created_date', 'total_paid', 'state'], dtype='object')

In [11]:
#orders_c.columns=['ord_id', 'ord_created_date', 'ord_total_paid', 'ord_state'] 
## take care, renaming the columns like that will convert the NAN to some value!!

In [12]:
df_c=df_c.rename(columns={"order_id": "ord_ID"
                        , "created_date": "ord_CreatDate"
                        , "total_paid": "ord_TotalPaid"
                        , "state": "ord_State"})

In [13]:
df_c.index #hint: no need to change index

RangeIndex(start=0, stop=226909, step=1)

### Remove Duplicates Rows
- ``` df.duplicated().sum()``` 
- ``` df.loc[df.duplicated()==True]``` 
- ``` df=df.drop:duplicates() ``` 
- ``` df=df.drop:duplicates(subset=["col"])```  --> remove rows based on duplicated in specific column

In [14]:
df_c.duplicated().sum() #hint : No duplicates

0

In [15]:
df_c.loc[df_c.duplicated()==True]

Empty DataFrame
Columns: [ord_ID, ord_CreatDate, ord_TotalPaid, ord_State]
Index: []

### Clean NAN and empty cells
- ``` df.isna().sum()``` 
- ``` df = df.replace('^\s*$', np.nan)```  -->replace empty cells and cells with only whitspace with NAN
- ``` df=df.col.fillna(value,method="bfill"or"ffill",limit=value)``` 

- Extra: 
  - ``` (df.values == '').sum()```  --> check if any cell is empty
  - ``` df.col.str.isspace().sum()```  --> check if all cell is filled with whitespaces

In [16]:
df_c.sample(5)

        ord_ID        ord_CreatDate  ord_TotalPaid        ord_State
79135   378683  2017-07-17 19:02:53          44.97        Completed
112764  412350  2017-10-14 08:14:01         277.79          Pending
179547  479940  2018-01-02 17:00:43         139.99  Shopping Basket
216888  517379  2018-02-25 23:12:31          68.07        Completed
70623   370169  2017-06-29 00:52:29           0.00  Shopping Basket

In [17]:
df_c.isna().sum()

ord_ID           0
ord_CreatDate    0
ord_TotalPaid    5
ord_State        0
dtype: int64

In [18]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226909 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ord_ID         226909 non-null  int64
 1   ord_CreatDate  226909 non-null  object
 2   ord_TotalPaid  226904 non-null  float64
 3   ord_State      226909 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 6.9+ MB

In [19]:
import numpy as np
df_c = df_c.replace('^\s*$', np.nan) #Question is it safe to do that?

In [20]:
df_c.isna().sum()

ord_ID           0
ord_CreatDate    0
ord_TotalPaid    5
ord_State        0
dtype: int64

In [21]:
df_c.ord_TotalPaid.dtype

dtype('float64')

In [22]:
df_c.ord_TotalPaid=df_c.ord_TotalPaid.fillna(0.0)

In [23]:
df_c.ord_TotalPaid.dtype

dtype('float64')

In [24]:
df_c.isna().sum()

ord_ID           0
ord_CreatDate    0
ord_TotalPaid    0
ord_State        0
dtype: int64

### Fix DataTypes
- ``` df.col.astype(type,errors="raise")``` 
  - type = "int","float","bool","category","object","datetime","timedelta"
- for mixed data
  - ``` pd.to_numeric(df.col, downcast=x,errors="raise") ``` 
  x = "integer" or "float"
  - ``` pd.to_datetime(df.col, downcast=None,errors="raise") ``` 
  - ``` pd.to_timedelta(df.col, downcast=None,errors="raise") ```

In [25]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226909 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ord_ID         226909 non-null  int64
 1   ord_CreatDate  226909 non-null  object
 2   ord_TotalPaid  226909 non-null  float64
 3   ord_State      226909 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 6.9+ MB

In [26]:
df_c.ord_CreatDate=pd.to_datetime(df_c.ord_CreatDate,errors="raise")

In [27]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226909 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ord_ID         226909 non-null  int64
 1   ord_CreatDate  226909 non-null  datetime64[ns]
 2   ord_TotalPaid  226909 non-null  float64
 3   ord_State      226909 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 6.9+ MB

In [28]:
df_c.ord_State = df_c.ord_State.astype("category",errors="raise")

In [29]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226909 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ord_ID         226909 non-null  int64
 1   ord_CreatDate  226909 non-null  datetime64[ns]
 2   ord_TotalPaid  226909 non-null  float64
 3   ord_State      226909 non-null  category
dtypes: category(1), datetime64[ns](1), float64(1), int64(1)
memory usage: 5.4 MB

### Drop duplicate/un-necessary Columns
- ``` df=df.drop(columns=["col1","col2"])```

In [30]:
df_c.describe() ## hint: all columns contain needed data. nothing to drop

              ord_ID  ord_TotalPaid
count  226909.000000  226909.000000
mean   413296.482480     569.213275
std     65919.250331    1761.760618
min    241319.000000       0.000000
25%    356263.000000      34.190000
50%    413040.000000     112.990000
75%    470553.000000     525.970000
max    527401.000000  214747.530000

## Re-Explore the data
draw some ``` df.col.hist()```  , ``` df.ser.boxplot()```  per column
take notes

In [31]:
df_c.sample(10)  # Question: how state="Shopping Basket" while "Total_paid" has a value!!

        ord_ID       ord_CreatDate  ord_TotalPaid        ord_State
192721  493203 2018-01-17 20:58:39         171.97      Place Order
11087   310560 2017-01-16 17:12:37        3856.48      Place Order
113375  412961 2017-10-16 10:34:44          23.98        Completed
112339  411925 2017-10-13 00:06:38        2872.59        Cancelled
223360  523852 2018-03-09 17:12:54         958.97          Pending
41627   341116 2017-03-31 10:02:53        1598.99        Cancelled
50162   349656 2017-04-25 16:44:48           0.00  Shopping Basket
189009  489488 2018-01-12 13:23:15          34.98        Completed
82037   381611 2017-07-25 00:07:05         355.22  Shopping Basket
125942  425555 2017-11-11 22:57:36         266.93        Completed

In [32]:
df_c.loc[df_c.ord_TotalPaid == 0.0].ord_State.unique()

['Completed', 'Shopping Basket', 'Place Order', 'Pending', 'Cancelled']
Categories (5, object): ['Cancelled', 'Completed', 'Pending', 'Place Order', 'Shopping Basket']