# CleaningUp orderlines.csv (ol_)
orderlines.csv – Every row represents each one of the different products involved in an order.
- id – a unique identifier for each row in this file
- id_order – corresponds to orders.order_id
- product_id – an old identifier for each product, nowadays not in use
- product_quantity – how many units of that product were purchased on that order
- sku – stock keeping unit: a unique identifier for each product
- unit_price – the unitary price (in euros) of each product at the moment of placing that order
- date – timestamp for the processing of that product

## Importing the data
- ``` glob-glob("file_pat") ``` --> read multi files 
- ``` pd.concat(dfs_list, ignore_index=True)```  --> create 1 df from multi dfs
- ``` pd.read_csv(path)```  --> create 1 df from a csv file

In [477]:
import pandas as pd

url = "https://drive.google.com/file/d/1FYhN_2AzTBFuWcfHaRuKcuCE6CWXsWtG/view?usp=sharing" 
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
ol = pd.read_csv(path)

In [478]:
pd.set_option("display.min_rows", 0) 
pd.set_option("display.max_rows", 200)

0

## Explore the data
- ``` df.shape``` , ``` df.size``` , ``` df.ndim``` 
- ``` df.sample(5)``` , ``` df.info()``` 
- Numerical : ``` df.describe()``` , ``` df.nlargest()``` , ``` df.nsmallest()``` 
- Category : ``` df.nunique()``` , ``` df.unique() ```

In [508]:
ol.shape

(293983, 7)

In [518]:
ol.sample(20)
## unit_price has numbers like 3.121.59 TODO: fix it to proper float

,id,id_order,product_id,product_quantity,sku,unit_price,date
173374,1456504,447574,0,2,CRU0053,229.90,2017-11-27 11:09:12
24169,1173183,318773,0,1,ADN0022,49.99,2017-02-07 10:08:27
237022,1559183,490305,0,1,APP1199,1.859.00,2018-01-13 22:15:02
267622,1607715,508873,0,1,PAC2127,4.035.54,2018-02-09 15:39:40
203980,1499503,464279,0,1,APP2479,793.00,2017-12-16 11:43:59
290647,1644892,524978,0,1,WAC0254,83.99,2018-03-10 19:13:02
203366,1498340,463738,0,1,DLL0031,599.99,2017-12-15 13:17:49
285567,1637749,522141,0,2,APP2073,1.199.00,2018-03-06 11:57:21
34071,1191933,329309,0,1,APP1735,469.00,2017-02-26 22:27:56
182902,1470211,452766,0,1,ZAG0024,34.99,2017-11-30 17:47:31
115992,1351046,399337,0,1,JMO0056,44.99,2017-09-12 21:53:23
160100,1434045,437684,0,1,CRU0026-2,138.54,2017-11-24 09:31:20
103710,1316615,388790,0,1,EVU0007,29.99,2017-08-11 18:20:50
291816,1646336,525553,0,1,APP1779-A,253.90,2018-03-11 19:26:48
102381,1314307,387648,0,1,APP2073,1.288.59,2017-08-08 20:08:29
79818,1273537,368268,0,1,APP1644,769.00,2017-06-22 22:47:35
138249,1391075,418806,0,1,LAC0146,171.79,2017-10-28 11:49:23
133729,1383067,414990,0,2,OWC0037-2,158.99,2017-10-20 11:10:40
221308,1532975,479839,0,1,DLK0009,86.99,2018-01-02 16:04:27
61127,1240665,352242,0,2,APP0703,69.99,2017-05-03 13:07:05

In [519]:
ol.info()  
## hint: there are no nulls 
## hint: date  is of type object, has to be datetime - TODO: fix required
## hint: unit_price is of type object, has to be float - TODO: fix required

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                293983 non-null  int64
 1   id_order          293983 non-null  int64
 2   product_id        293983 non-null  int64
 3   product_quantity  293983 non-null  int64
 4   sku               293983 non-null  object
 5   unit_price        293983 non-null  object
 6   date              293983 non-null  object
dtypes: int64(4), object(3)
memory usage: 15.7+ MB

In [520]:
ol.describe()
# hint: product_id seems like empty and shall be removed - TODO: Fix required
# hint: product_quantity 3rd quartile = min = 1, max=999! 
    # probably we shall handle orders with different quantities differently - TODO:fix required

                 id       id_order  product_id  product_quantity
count  2.939830e+05  293983.000000    293983.0     293983.000000
mean   1.397918e+06  419999.116544         0.0          1.121126
std    1.530096e+05   66344.486479         0.0          3.396569
min    1.119109e+06  241319.000000         0.0          1.000000
25%    1.262542e+06  362258.500000         0.0          1.000000
50%    1.406940e+06  425956.000000         0.0          1.000000
75%    1.531322e+06  478657.000000         0.0          1.000000
max    1.650203e+06  527401.000000         0.0        999.000000

In [521]:
ol.nunique() # hint: id is unique per row 
# hint: product_id is useless, shall be removed - TODO: fix required

id                  293983
id_order            204855
product_id               1
product_quantity        67
sku                   7951
unit_price           11329
date                251631
dtype: int64

In [522]:
ol.product_id.unique()
#hint: useless data

array([0], dtype=int64)

In [523]:
ol.unit_price.sort_values(ascending=False).tail(40) 
# There is negative value in unit_price,  TODO: Fix Required

225400       0.00
225401       0.00
276547       0.00
276548       0.00
67456        0.00
199139       0.00
280903       0.00
67563        0.00
280907       0.00
67854        0.00
265161       0.00
256505       0.00
280906       0.00
246443       0.00
256504       0.00
280905       0.00
67848        0.00
265159       0.00
265158       0.00
67812        0.00
246444       0.00
67802        0.00
67773        0.00
265157       0.00
67768        0.00
67585        0.00
67626        0.00
212228       0.00
280904       0.00
67644        0.00
67661        0.00
67682        0.00
67701        0.00
212227       0.00
67717        0.00
265154       0.00
67746        0.00
265156       0.00
261851       0.00
77008     -119.00
Name: unit_price, dtype: object

In [526]:
ol.loc[(ol.unit_price == "0.00")].product_quantity.sum()
#That amount of product with price 0.00! TODO:check more about it

946

## Clean the data per csv
- Remember to create a copy of the df using ``` df.copy()```

In [527]:
ol_c = ol.copy()

### Rename Columns , Set Index
 - ``` df.columns```   , ``` df.index``` 
 - ``` df=df.rename(columns={"A": "a", "B": "c"})``` 
 - ``` df.columns = ["a","b":"x"]``` 
     - take care, renaming the columns like that will convert the NAN to some value!!
 - ``` df=df.set_index("col")```  , ``` df=df.reset_index()```

In [528]:
ol_c.columns

Index(['id', 'id_order', 'product_id', 'product_quantity', 'sku', 'unit_price',
       'date'],
      dtype='object')

In [529]:
ol_c=ol_c.rename(columns={"id": "ol_ID"
                        , "id_order": "ol_ord_ID"
                        , "product_id": "ol_ProductId"
                        , "product_quantity": "ol_ProdQuantity"
                        , "sku": "ol_sku"
                        , "unit_price": "ol_ProdUnitPrice"
                        , "date": "ol_ProcessDate"})

In [530]:
ol_c.columns

Index(['ol_ID', 'ol_ord_ID', 'ol_ProductId', 'ol_ProdQuantity', 'ol_sku',
       'ol_ProdUnitPrice', 'ol_ProcessDate'],
      dtype='object')

In [531]:
ol_c.index #hint: no need to change index

RangeIndex(start=0, stop=293983, step=1)

### Remove Duplicates Rows
- ``` df.duplicated().sum()``` 
- ``` df.loc[df.duplicated()==True]``` 
- ``` df=df.drop:duplicates() ``` 
- ``` df=df.drop:duplicates(subset=["col"])```  --> remove rows based on duplicated in specific column

In [532]:
ol_c.duplicated().sum() #hint : No duplicates

0

In [560]:
ol_c.loc[ol_c.duplicated()==True]

Empty DataFrame
Columns: [ol_ID, ol_ord_ID, ol_ProductId, ol_ProdQuantity, ol_sku, ol_ProdUnitPrice, ol_ProcessDate]
Index: []

#### Remove duplicated rows related to Unique columns
- find possible duplicates ``` len(df.col.unique())```   vs ``` df.shape``` 
- get the excat value for duplicate columns ``` df.loc[df.duplicated(subset="col")]``` 
- find all columns with same value ``` df[products.col=="APP1197"]```

### Strip whitespaces
- ``` df.applymap(lambda x: x.strip() if isinstance(x, str) else x)```

In [534]:
ol_c = ol_c.applymap(lambda x: x.strip() if isinstance(x, str) else x)

### Clean NAN and empty cells
- ``` df.isna().sum()``` 
- ``` df = df.replace('^\s*$', np.nan)```  -->replace empty cells and cells with only whitspace with NAN
- ``` df=df.col.fillna(value,method="bfill"or"ffill",limit=value)``` 

- Extra: 
  - ``` (df.values == '').sum()```  --> check if any cell is empty
  - ``` df.col.str.isspace().sum()```  --> check if all cell is filled with whitespaces

In [535]:
ol_c.isna().sum()

ol_ID               0
ol_ord_ID           0
ol_ProductId        0
ol_ProdQuantity     0
ol_sku              0
ol_ProdUnitPrice    0
ol_ProcessDate      0
dtype: int64

In [536]:
ol_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ol_ID             293983 non-null  int64
 1   ol_ord_ID         293983 non-null  int64
 2   ol_ProductId      293983 non-null  int64
 3   ol_ProdQuantity   293983 non-null  int64
 4   ol_sku            293983 non-null  object
 5   ol_ProdUnitPrice  293983 non-null  object
 6   ol_ProcessDate    293983 non-null  object
dtypes: int64(4), object(3)
memory usage: 15.7+ MB

In [537]:
import numpy as np
ol_c = ol_c.replace('^\s*$', np.nan)

In [538]:
ol_c.isna().sum()

ol_ID               0
ol_ord_ID           0
ol_ProductId        0
ol_ProdQuantity     0
ol_sku              0
ol_ProdUnitPrice    0
ol_ProcessDate      0
dtype: int64

### Fix DataTypes
- before change, make sure all values will be converted correct
  - to convert to numeric : check no letters, 
      - if float(2dec) ```(~df.col.str.contains("^\d+.\d{2}$")).sum()```
  - to convert to category : check there are reasonable number of unique items
  - to convert to Datetime : ```(~df.col.str.contains("^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$")).sum()```
- ``` df.col.astype(type,errors="raise")``` 
  - type = "int","float","bool","category","object","datetime","timedelta"
- for mixed data
  - ``` pd.to_numeric(df.col, downcast=x,errors="raise") ``` 
  x = "integer" or "float"
  - ``` pd.to_datetime(df.col, downcast=None,errors="raise") ``` 
  - ``` pd.to_timedelta(df.col, downcast=None,errors="raise") ```

In [539]:
ol_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ol_ID             293983 non-null  int64
 1   ol_ord_ID         293983 non-null  int64
 2   ol_ProductId      293983 non-null  int64
 3   ol_ProdQuantity   293983 non-null  int64
 4   ol_sku            293983 non-null  object
 5   ol_ProdUnitPrice  293983 non-null  object
 6   ol_ProcessDate    293983 non-null  object
dtypes: int64(4), object(3)
memory usage: 15.7+ MB

In [540]:
(~ol_c.ol_ProcessDate.str.contains("^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$")).sum() 
# all rows has the datetime pattern, save to convert

0

In [541]:
ol_c.ol_ProcessDate = pd.to_datetime(ol_c.ol_ProcessDate, errors="raise")

In [542]:
ol_c.ol_ProcessDate.sample(10)

184112   2017-12-02 04:37:11
215672   2017-12-28 12:57:29
270268   2018-02-13 15:05:00
95264    2017-07-24 20:56:26
167243   2017-11-25 13:00:42
163403   2017-11-24 17:42:42
19809    2017-01-30 00:07:46
229233   2018-01-08 10:43:16
135929   2017-10-24 17:59:35
46647    2017-03-28 13:02:25
Name: ol_ProcessDate, dtype: datetime64[ns]

In [543]:
ol_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ol_ID             293983 non-null  int64
 1   ol_ord_ID         293983 non-null  int64
 2   ol_ProductId      293983 non-null  int64
 3   ol_ProdQuantity   293983 non-null  int64
 4   ol_sku            293983 non-null  object
 5   ol_ProdUnitPrice  293983 non-null  object
 6   ol_ProcessDate    293983 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 15.7+ MB

In [544]:
ol_c.ol_ProdUnitPrice.sample(10)

210969      359.00
22820       109.00
113308      840.33
45939        18.99
282983      139.00
198563      130.00
174487    2.998.59
77078        43.49
289216      109.00
114544       34.99
Name: ol_ProdUnitPrice, dtype: object

In [559]:
(~ol_c.ol_ProdUnitPrice.str.contains("^\d+.\d{2}$")).sum()
#36170 rows doesn't has the correct pattern

36169

In [546]:
ol_c.ol_ProdUnitPrice[(~ol_c.ol_ProdUnitPrice.str.contains("^\d+.\d{2}$"))]
#can not convert as:
# there is 1 negative value, make it +ve
# for the values 6.543.59 convert it to 6543.59

6         1.137.99
11        2.565.99
15        3.278.99
43        2.616.99
59        2.873.99
61        2.780.99
64        2.316.99
67        2.558.99
69        2.797.99
82        4.260.99
105       2.054.99
107       2.769.99
111       2.172.99
131       2.050.99
155       1.426.99
159       1.351.99
163       1.426.99
164       1.348.99
174       1.845.99
187       1.019.00
201       2.098.99
225       3.318.99
230       1.584.99
240       2.133.99
242       2.626.99
264       2.698.99
270       1.986.99
279       1.398.99
281       3.830.99
303       6.029.99
305       1.986.99
328       1.688.99
342       1.024.99
355       2.558.99
356       3.198.99
379       3.177.99
380       1.776.99
382       1.024.99
386       1.986.99
418       2.089.99
434       2.469.99
459       1.114.99
465       1.922.99
471       1.649.99
492       2.371.99
495       2.199.99
498       1.348.99
501       1.024.99
508       1.998.99
524       1.794.99
595       1.598.99
602       2.599.99
615       1.193.99
643       2.788.99
644       1.794.99
655       1.688.99
711       1.594.99
715       1.584.99
722       3.318.99
747       1.688.99
755       1.949.99
804       2.322.99
807       1.019.00
860       2.209.99
874       3.318.99
875       3.438.99
877       1.370.99
941       1.584.99
977       1.259.99
1025      3.984.99
1087      1.612.99
1099      4.038.99
1114      2.698.99
1120      4.038.99
1122      3.441.99
1139      1.998.99
1188      1.370.99
1196      1.009.00
1207      1.259.99
1235      1.193.99
1237      1.612.99
1255      2.146.99
1258      1.159.00
1262      1.794.99
1264      1.584.99
1270      2.825.61
1271      2.237.99
1277      2.098.99
1280      2.088.99
1336      2.198.99
1368      1.351.99
1453      1.576.99
1466      3.599.99
1475      1.922.99
1524      2.698.99
1525      1.584.99
1526      3.010.99
1534      1.569.00
1539      1.193.99
1542      2.698.99
            ...
292981    3.725.00
292983    2.925.00
292989    2.039.00
292997    1.099.00
293001    1.415.00
293003    1.099.00
293017    1.329.00
293020    1.340.49
293021    1.329.00
293026    3.147.00
293039    2.443.00
293042    3.375.00
293045    1.329.00
293048    1.159.00
293049    1.159.00
293053    2.999.00
293059    1.199.00
293064    1.820.67
293066    1.099.00
293073    2.412.00
293076    5.093.00
293083    1.519.99
293088    1.099.00
293091    3.075.00
293099    1.430.00
293101    1.059.00
293110    2.922.00
293114    2.217.00
293118    1.329.00
293119    3.148.01
293123    1.453.00
293126    2.825.00
293135    1.099.00
293144    1.782.00
293147    1.099.00
293151    1.159.00
293153    1.329.00
293160    1.099.00
293162    1.979.00
293173    1.329.00
293174    1.199.00
293176    1.099.00
293183    1.329.00
293184    1.179.00
293185    1.329.00
293191    1.099.00
293194    1.099.00
293196    2.479.00
293199    1.059.00
293205    1.329.00
293209    1.099.00
293216    2.999.00
293218    2.999.00
293219    1.099.00
293236    2.161.00
293245    1.099.00
293249    2.868.00
293254    2.161.00
293256    2.469.01
293267    1.329.00
293268    1.329.00
293281    1.327.02
293288    1.099.00
293302    1.329.00
293306    1.747.00
293308    1.823.00
293311    1.099.00
293314    3.075.00
293319    1.099.00
293320    1.034.07
293321    1.259.01
293324    1.099.00
293344    2.999.01
293345    1.099.00
293357    1.399.00
293383    2.449.00
293390    1.147.99
293395    1.503.00
293399    3.182.00
293403    1.099.00
293407    1.329.00
293415    1.649.00
293416    1.503.00
293451    2.549.00
293457    2.129.00
293628    2.949.00
293632    2.167.00
293668    1.099.00
293703    1.885.00
293713    4.500.00
293728    1.099.00
293748    1.099.00
293756    1.099.00
293790    3.475.00
293838    1.159.00
293862    2.999.00
293887    3.497.00
293889    3.075.00
293911    1.329.00
293936    1.329.00
Name: ol_ProdUnitPrice, Length: 36170, dtype: object

In [555]:
ol_c.ol_ProdUnitPrice = ol_c.ol_ProdUnitPrice.str.replace("-","")
# (
# ol_c
#  .query("ol_ProdUnitPrice.str.contains('-')")
#  .ol_ProdUnitPrice
#  .str.replace("-","")
# )

In [558]:
ol_c.ol_ProdUnitPrice.str.contains("-").sum()

0

In [ ]:
orders_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226909 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      226909 non-null  int64
 1   created_date  226909 non-null  datetime64[ns]
 2   total_paid    226909 non-null  float64
 3   state         226909 non-null  category
dtypes: category(1), datetime64[ns](1), float64(1), int64(1)
memory usage: 5.4 MB

### Drop duplicate/un-necessary Columns
- ``` df=df.drop(columns=["col1","col2"])```

In [ ]:
orders_c.describe() ## hint: all columns contain needed data. nothing to drop

            order_id     total_paid
count  226909.000000  226909.000000
mean   413296.482480     569.213275
std     65919.250331    1761.760618
min    241319.000000       0.000000
25%    356263.000000      34.190000
50%    413040.000000     112.990000
75%    470553.000000     525.970000
max    527401.000000  214747.530000

## Re-Explore the data
draw some ``` df.col.hist()```  , ``` df.ser.boxplot()```  per column
take notes

In [ ]:
orders_c.sample(10)  # Question: how state="Shopping Basket" while "Total_paid" has a value!!

        order_id        created_date  total_paid            state
153054    453267 2017-12-01 15:52:25        0.00      Place Order
207636    508127 2018-02-08 13:13:21     2511.59        Cancelled
22219     321699 2017-02-09 10:41:43       80.99  Shopping Basket
158350    458574 2017-12-09 21:38:25     2559.57  Shopping Basket
107130    406715 2017-09-30 17:03:58       57.79  Shopping Basket
56577     356113 2017-05-15 22:45:24       57.98      Place Order
74786     374332 2017-07-07 18:33:43       99.98        Completed
173457    473832 2017-12-27 19:26:21      270.04        Completed
190772    491252 2018-01-15 16:10:44      506.97        Completed
137866    437654 2017-11-24 09:33:37       83.19        Completed

In [ ]:
orders_c.loc[orders_c.total_paid == 0.0].state.unique()

['Completed', 'Shopping Basket', 'Place Order', 'Pending', 'Cancelled']
Categories (5, object): ['Cancelled', 'Completed', 'Pending', 'Place Order', 'Shopping Basket']