# orderlines.csv (ol_)
orderlines.csv – Every row represents each one of the different products involved in an order.
- id – a unique identifier for each row in this file
- id_order – corresponds to orders.order_id
- product_id – an old identifier for each product, nowadays not in use
- product_quantity – how many units of that product were purchased on that order
- sku – stock keeping unit: a unique identifier for each product
- unit_price – the unitary price (in euros) of each product at the moment of placing that order
- date – timestamp for the processing of that product

    ==============================================================================================

## Importing the data
- ``` glob-glob("file_pat") ``` --> read multi files 
- ``` pd.concat(dfs_list, ignore_index=True)```  --> create 1 df from multi dfs
- ``` pd.read_csv(path)```  --> create 1 df from a csv file

In [52]:
import pandas as pd
import numpy as np

pd.set_option("display.min_rows", 0) 
pd.set_option("display.max_rows", 30) 
pd.__version__

In [53]:
url = "https://drive.google.com/file/d/1FYhN_2AzTBFuWcfHaRuKcuCE6CWXsWtG/view?usp=sharing" 
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
ol = pd.read_csv(path)

      ===============================================

## Rename Columns , Set Index
- Rules: 
    - add 2-3 chars prefix to all columns
    - change column name to CamelCase
    - shorten it as max as possible
    - the Unique column shall have ALL_CAP name
 - ``` df.columns```   , ``` df.index``` 
 - ``` df=df.rename(columns={"A": "a", "B": "c"})``` 
 - ``` df.columns = ["a","b":"x"]``` 
     - take care, renaming the columns like that will convert the NAN to some value!!
 - ``` df=df.set_index("col")```  , ``` df=df.reset_index()```

In [54]:
ol.columns

Index(['id', 'id_order', 'product_id', 'product_quantity', 'sku', 'unit_price',
       'date'],
      dtype='object')

In [55]:
ol=ol.rename(columns={"id": "OL_ID"
                        , "id_order": "ol_ORD_ID"
                        , "product_id": "ol_ProductId"
                        , "product_quantity": "ol_ProdQuantity"
                        , "sku": "ol_sku"
                        , "unit_price": "ol_ProdUnitPrice"
                        , "date": "ol_ProcessDate"})

In [56]:
ol.columns

Index(['OL_ID', 'ol_ORD_ID', 'ol_ProductId', 'ol_ProdQuantity', 'ol_sku',
       'ol_ProdUnitPrice', 'ol_ProcessDate'],
      dtype='object')

In [57]:
ol.index #hint: no need to change index

RangeIndex(start=0, stop=293983, step=1)

    ==============================================================================================

## Explore the data
- ``` df.shape``` , ``` df.size``` , ``` df.ndim``` 
- ``` df.sample(5)``` , ``` df.info()``` 
- Numerical : ``` df.describe()``` , ``` df.col.nlargest()``` , ``` df.col.nsmallest()``` 
- Category : ``` df.nunique()``` , ``` df.unique() ```

In [58]:
ol.shape

(293983, 7)

In [59]:
ol.sample(10)
## unit_price has numbers like 3.121.59 TODO: fix it to proper float

,OL_ID,ol_ORD_ID,ol_ProductId,ol_ProdQuantity,ol_sku,ol_ProdUnitPrice,ol_ProcessDate
234852,1555588,488943,0,1,NTE0098,59.99,2018-01-11 21:33:26
130554,1377341,412164,0,1,APP2485,917.33,2017-10-13 13:45:13
168147,1447689,443719,0,1,APP2499,354.24,2017-11-25 17:19:11
217019,1524368,475990,0,1,SAT0033,29.74,2017-12-29 10:33:29
248144,1577277,497033,0,1,TRA0044-A,494.04,2018-01-23 20:23:24
201001,1494537,462107,0,12,WDT0140,78.46,2017-12-13 18:49:28
63610,1244936,354392,0,1,KIN0086,21.99,2017-05-10 08:30:54
240985,1565773,485263,0,3,NEA0020,76.00,2018-01-17 11:16:08
74318,1263931,363522,0,1,PAC1593,2.673.99,2017-06-08 12:47:09
239195,1562798,491710,0,1,NEA0009,160.99,2018-01-15 22:26:59

In [60]:
ol.info()  
## hint: there are no nulls 
## hint: date  is of type object, has to be datetime - TODO: fix required
## hint: unit_price is of type object, has to be float - TODO: fix required

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   OL_ID             293983 non-null  int64
 1   ol_ORD_ID         293983 non-null  int64
 2   ol_ProductId      293983 non-null  int64
 3   ol_ProdQuantity   293983 non-null  int64
 4   ol_sku            293983 non-null  object
 5   ol_ProdUnitPrice  293983 non-null  object
 6   ol_ProcessDate    293983 non-null  object
dtypes: int64(4), object(3)
memory usage: 15.7+ MB

In [61]:
ol.describe()
# hint: product_id seems like empty and shall be removed - TODO: Fix required
# hint: product_quantity 3rd quartile = min = 1, max=999! 
    # probably we shall handle orders with different quantities differently - TODO:fix required

              OL_ID      ol_ORD_ID  ol_ProductId  ol_ProdQuantity
count  2.939830e+05  293983.000000      293983.0    293983.000000
mean   1.397918e+06  419999.116544           0.0         1.121126
std    1.530096e+05   66344.486479           0.0         3.396569
min    1.119109e+06  241319.000000           0.0         1.000000
25%    1.262542e+06  362258.500000           0.0         1.000000
50%    1.406940e+06  425956.000000           0.0         1.000000
75%    1.531322e+06  478657.000000           0.0         1.000000
max    1.650203e+06  527401.000000           0.0       999.000000

In [62]:
ol.nunique() # hint: id is unique per row 
# hint: product_id is useless, shall be removed - TODO: fix required

OL_ID               293983
ol_ORD_ID           204855
ol_ProductId             1
ol_ProdQuantity         67
ol_sku                7951
ol_ProdUnitPrice     11329
ol_ProcessDate      251631
dtype: int64

In [63]:
ol.ol_ProductId.unique()
#hint: useless data

array([0], dtype=int64)

In [64]:
ol.ol_ProdUnitPrice.sort_values(ascending=False).tail(40) 
# There is negative value in ol_ProdUnitPrice,  TODO: Fix Required

225400       0.00
225401       0.00
276547       0.00
276548       0.00
67456        0.00
199139       0.00
280903       0.00
67563        0.00
280907       0.00
67854        0.00
265161       0.00
256505       0.00
280906       0.00
246443       0.00
256504       0.00
           ...
67585        0.00
67626        0.00
212228       0.00
280904       0.00
67644        0.00
67661        0.00
67682        0.00
67701        0.00
212227       0.00
67717        0.00
265154       0.00
67746        0.00
265156       0.00
261851       0.00
77008     -119.00
Name: ol_ProdUnitPrice, Length: 40, dtype: object

In [65]:
ol.loc[(ol.ol_ProdUnitPrice == "0.00")].ol_ProdQuantity.sum()
#That amount of product with price 0.00! TODO:check more about it 946/293983 = 0.3%

946

    ==============================================================================================

## Initial Clean
- Remember to create a copy of the df using ``` df.copy()```

In [66]:
ol_original = ol.copy()

      ===============================================

### Strip whitespaces
- ``` df.applymap(lambda x: x.strip() if isinstance(x, str) else x)```

In [67]:
ol = ol.applymap(lambda x: x.strip() if isinstance(x, str) else x)

      ===============================================
### Remove Duplicates Rows
- ``` df.duplicated().sum()``` 
- ``` df.loc[df.duplicated()==True]``` 
- ``` df=df.drop:duplicates() ``` 
- ``` df=df.drop:duplicates(subset=["col"])```  --> remove rows based on duplicated in specific column

In [68]:
ol.duplicated().sum() #hint : No duplicates

0

      =======================

#### Remove duplicated rows related to Unique columns
- find possible duplicates ``` len(df.col.unique()) == df.shape[0] ``` 
- get the excat value for duplicate columns ``` df.loc[df.duplicated(subset="col")]``` 
- find all columns with same value ``` df[df.col=="val"]```

check if ol_ID is unique

In [70]:
len(ol.OL_ID.unique()) == ol.shape[0]

True

      ===============================================

### Drop duplicate/un-necessary Columns
- ``` df=df.drop(columns=["col1","col2"])```

In [71]:
ol.describe() ## hint: all columns contain needed data. nothing to drop

              OL_ID      ol_ORD_ID  ol_ProductId  ol_ProdQuantity
count  2.939830e+05  293983.000000      293983.0    293983.000000
mean   1.397918e+06  419999.116544           0.0         1.121126
std    1.530096e+05   66344.486479           0.0         3.396569
min    1.119109e+06  241319.000000           0.0         1.000000
25%    1.262542e+06  362258.500000           0.0         1.000000
50%    1.406940e+06  425956.000000           0.0         1.000000
75%    1.531322e+06  478657.000000           0.0         1.000000
max    1.650203e+06  527401.000000           0.0       999.000000

drop ol_ProductId

In [72]:
ol = ol.drop(columns=["ol_ProductId"])

    ==============================================================================================

## Compare to original DataFrame
``` df.compare(df2)```

In [ ]:
#ol.compare(ol_original)

    ==============================================================================================

## Export the cleaned DataFrame

``` df.to_pickle("file_name.pkl")```

In [74]:
ol.to_pickle("clean_Tables\OrderLines_c.pkl")